.btn_panel {
    flex-direction: column;
    gap: 16px;
    min-width: 36px;
    min-height: 24px;
}

#panelLeft {
    position: absolute;
    top: 220px;
    display: none;
}

#panelRight {
    position: absolute;
    top: 220px;
    display: none;
}


/* Smartphones ---------*/
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        border: unset;
        border-radius: 0;
    }
    h1 {display: none;}
    .control_icons {display: none;}
    #panelLeft {display: flex; left: 2%;}
    #panelRight {display: flex; right: 2%;}
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100dvh;
    }
}