.btn_panel {
    flex-direction: column;
    gap: 16px;
    min-width: 36px;
    min-height: 24px;
}

#panelLeft {
    position: absolute;
    top: 220px;
    display: none;
}

#panelRight {
    position: absolute;
    top: 220px;
    display: none;
}

#muteBtn {
    position: absolute;
    bottom: 8px;
    left: 8px;
    display: none;
    >img {height: 20px;}
}

#rotateMessage {
    position: absolute;
    white-space: nowrap;
    margin-top: 20dvh;
    width: auto;
    display: none;
    z-index: 100;
}

@media (max-width: 800px) {
    .instructions {
        height: 61dvh;
        width: 91%;
    }
    #impressum {margin: 0;}
    .information {gap: 0;}
}

@media (max-width: 500px) {
    .game_description, .emphasise, span, .spacebar, .d {font-size: 16px;}
    .move {gap: 8px;}
    #startGameBtn {font-size: 18px; height: auto; width: auto; padding: 8px;}
    .jump, .throw {gap: 8px;}
    .information {flex-direction: column; gap: 8px;}
}

/* Smartphones ---------*/
@media (pointer: coarse) and (hover: none) {
    .instructions {overflow-y: auto;}
    .control_icons {display: none;}
    #panelLeft {display: flex; left: 2%;}
    #panelRight {display: flex; right: 2%;}
    #muteBtn {display: block;}
    h1 {display: none;}
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        border: unset;
        border-radius: 0;
    }
    .instructions {height: 100%;}
    .overlay_wingame {
        background-size: 100% auto; 
        background-repeat: no-repeat;
        background-color: rgb(132 9 42);
    }
    #playAgainWin {margin-bottom: 0;}
    .overlay_lostgame {
        background-size: 100% auto; 
        background-repeat: no-repeat;
        background-color: black;
    }
    .play_again_btn {margin-top: 27dvh;}
}

@media(max-width: 520px) {
    .play_again_btn {margin-top: 21dvh;}
}

@media (max-width: 450px) {
    .play_again_btn {
        font-size: 16px;
        height: auto;
        width: auto;
        padding: 8px;
        margin-top: 18dvh;
    }
}

@media (max-width: 400px) {
    .main {flex-direction: column;}
    .main_left, .main_right {width: 100%; height: auto; padding: 8px;}
}

@media (max-width: 395px) {
    .play_again_btn {margin-top: 17dvh;}
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100dvh;
    }
}

@media (min-height: 481px) {
    body {    display: flex; /* Aktiviere Flexbox für den body */
        flex-direction: column; /* Ordne die Elemente vertikal an */
        align-items: center; /* Horizontale Zentrierung der Elemente */
        justify-content: center; /* Vertikale Zentrierung der Elemente */
        min-height: 100dvh; /* Stelle sicher, dass der body die volle Höhe einnimmt */
        height: auto;
        overflow-y: auto;
    }
}

/* smartphones in portrait orientation */
@media (orientation: portrait) and (hover: none) {
    #rotateMessage {display: block;}
    .overlay_startgame {filter: blur(5px);}
    h1 {display: flex; text-align: center;}
}